/* Navbar */
.navbar-brand img {
  width: 100px;
  height: 100px;
}

/* Jumbotron */
.jumbotron {
  padding-top: 12rem;
  background-color: #e2edff;
  background-image: url(img/pngtree-overlooking-minimalist-cartoon-hand-drawn-catering-gourmet-background-picture-image_1016736.jpg);
  background-size: cover;
  margin-top: 75px;
  text-align: center;
  height: auto;
}

.jumbotron .display-4 {
  margin-top: 10px;
  font-weight: normal;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 38px;
  margin-bottom: 35px;
}

.jumbotron .display-4 span {
  font-weight: bold;
  color: red;
}

/* Card */
.card-title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.card-text {
  text-align: center;
  color: gray;
}

/* About */
.about {
  background-color: #e2edff;
  padding-bottom: 20px;
  text-align: center;
}

.about .text-head {
  margin-top: auto;
  font-weight: normal;
  color: black;
  text-shadow: 1px 1px white;
  font-size: 30px;
  margin-bottom: 10px;
}

.about .text-body {
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  font-weight: 400;
  background-color: #e2edff;
  margin-bottom: 2px;
}

/* Footer */

/* Utility */
.tombol {
  text-transform: uppercase;
  border-radius: 40px;
}

/* Desktop Version */
@media (min-width: 992px) {
  .nav-link {
    text-transform: uppercase;
    margin-right: 20px;
  }

  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid salmon;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-top: -8px;
  }

  .jumbotron {
    padding-top: 20rem;
    margin-top: -75px;
    height: auto;
  }

  .jumbotron .display-4 {
    font-size: 60px;
  }

  .about {
  }
}
